
<ActionBar [title]="item.name" class="action-bar" (loaded)="onActionBarLoadedLoaded($event)">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout class="formMessage warning" columns="auto,*" rows="auto">
    <FlexboxLayout col="0" class="test">
        <Label class="icon fa" text="&#xf002;"></Label>
    </FlexboxLayout>

    <FlexboxLayout col="1" class="test">
        <Label maxLines="3" class="formMessageText fal" text="&#xf002;CSS3的功能更加强大，相比之下；因为css3的某些操作，可以取代Javascript的操作效果，比如字体隐藏，超出部分显示省略号、动画效果等效果。所以css3多了解多学习，也是非常有用的；本篇经验为大家分享css3营销效果，以及原因"
            textWrap="true"></Label>
            <Label maxLines="3" class="formMessageText fal" text="&#xf002;“Pictures, abstract symbols, materials, and colors are among the ingredients with which a designer or engineer works. To design is to discover relationships and to make arrangements and rearrangements among these ingredients.”"
            textWrap="true"></Label>
    </FlexboxLayout>
</GridLayout>