<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->


<RadSideDrawer [allowEdgeSwipe]="allowEdgeSwipe">
    <StackLayout tkDrawerContent class="sideStackBox">
        <GridLayout rows="auto, *">
            <StackLayout row="0">
                <StackLayout class="headerPaddingTop" [ngStyle]="{'height': statusHeight}"></StackLayout>
                <FlexboxLayout class="sideTitleStackLayout">
                    <Label text="Menu"></Label>
                </FlexboxLayout>
            </StackLayout>
            <ScrollView row="1" class="sideStackLayout">
                <StackLayout>
                    <Label text="Primary" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Social" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Promotions" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Labels" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Important" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Starred" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Sent Mail" class="sideLabel" (tap)="toPage()"></Label>
                    <Label text="Drafts" class="sideLabel" (tap)="toPage()"></Label>
                </StackLayout>
            </ScrollView>
        </GridLayout>

    </StackLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>