.headerPaddingTop {
    height: 0;
    background-color: #3d5afe;
}
.sideStackLayout {
    background-color: #ffffff;
}

.sideTitleStackLayout {
    height: 45;
    background-color: #3d5afe;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.sideLabel {
    padding: 10 15;
}