<StackLayout class="header-padding-top" [ngStyle]="{'height': statusHeight}">
    
</StackLayout>
<FlexboxLayout class="header-bar">
    <FlexboxLayout class="left-content">
        <Label class="ion back-btn" text="&#xf3d2;" *ngIf="!hiddenBack" (tap)="goBack()"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="title-content" [ngStyle]="{width: screenWidth - 180}">
        <Label class="title" [text]="title" textWrap="false"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="right-content">

    </FlexboxLayout>
</FlexboxLayout>